/* @media {
  .navbar-collapse {
    display: flex !important;
    float: none;
    flex-direction: row;
  }
} */

#nav {
  transition: opacity 0.5s ease-in-out;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: black;
}

.navbar-set {
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.fade-in {
	opacity: 1;
  /* visibility: visible;
  transition: opacity 1s linear; */
}

.fade-out {
	opacity: 0;
  /* visibility: hidden;
  transition: visibility 0s 1s, opacity 1s linear; */
}

ul {
  margin-top: 16px !important;
}
/* .navbar .navbar-collapse {
  text-align: center;
} */

.navbar-light {
  background-color: #dce1e9 !important;
  border: none !important;
  border-width: 0 !important;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
  /* border-bottom: 2px solid rgb(144, 123, 219); */
  /* content: " ";
  height: 2px;
  width: 100%;
  background-color: #d4afb9;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0; */
}

.nav-link::after {
  content: " ";
  height: 2px;
  width: 100%;
  background-color: #d4afb9;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.nav-link:hover::after {
  opacity: 1;
}

.nitem {
  padding: 5px;
}
