#cntr1 {
    background-color: beige;
    border-radius: 10%;
}

.desc {
    width: 210px;
    height: 110px;
    overflow: auto;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
      }
}

.scrolling-wrapper-flexbox {
    display: flex;
    width: 120vh;
    /* flex-wrap: nowrap; */
    overflow: auto;
    /* overflow-x: scroll; */
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
      }
    .card1 {
      flex: 0 0 auto;
    }
  }

.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skillname {
    font-size: 18px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 20px 0;
}

.skillbar {
    height: 14px;
    background-color: rgb(33, 23, 23);
    border-radius: 3px;
}

.skillperc {
    height: 14px;
    background: teal;
    border-radius: 3px;
    position: relative;
    /* animation: fillBars 2.5s 1; */
}

.skillperc::before {
    content:attr(per);
    position: absolute;
    padding: 4px 6px;
    /* background-color: white; */
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skillperc::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    /* background-color: white; */
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;;
}

.animate {
    animation: fillBars 2s 1;
}

@keyframes fillBars {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}