.avatar {
  border-radius: 50%;
}

.page {
  display: flex;
  flex-direction: column;
  height: 50rem;
  margin: 25px;
}

.pgbreak {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-vertical p {
  padding: 20px;
}

.text-center {
  text-align: center;
}

.border1 {
  padding-left: 140px;
  padding-right: 140px;
}

.border2 {
  padding: 30px;
}

.border3 {
  padding: 20px;
}

.mborder1 {
  margin: 10px;
}


.fade1 {
  animation: fadekey1 4s 1;
}

@keyframes fadekey1 {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.slide1 {
  animation: slidekey1 1s;
}

.slide2 {
  animation: slidekey2 1s;
}

@keyframes slidekey1 {
  from {
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes slidekey2 {
  from {
    transform: translateY(0);
  }
  to{
    transform: translateY(-100px);
  }
}

a:visited, a:link, a:active
{
    color: unset;
    text-decoration: none;
}

a:hover {
  transform: scale(1.055);
}

body {
  font-size: 16px; /* sets base font size */
  color: white;
}

h1 {
  font-size: 2em; /* relative to parent element, this sets h1 to 32px*/
}

p {
  font-size: 1rem; /* relative to base font size, this sets to 16px */
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 500px) {
  img .avatar{
    width: 170px;
    height: 170px;
  }
}